@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

:root{
  --activeinputborder: #6448fe to #600594;
  --inputerrors: #ff5252;
  --White: #ffffff;
  --Lightgrayishviolet: #dedddf;
  --Darkgrayishviolet: #8e8593;
  --Verydarkviolet: #21092f;


  --font: "Space Grotesk", sans-serif;

}